
.modal-background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  background: rgb(0, 0, 0);
  opacity: 0.5;
  transition: all 300ms ease;


}

[data-is-initialising="true"] {
   opacity: 0;
 }

[data-is-destructing="true"] {
   opacity: 0;
 }
